/* [sass, assets/stylesheets/sass, master.scss] */
/* line 2, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
/* line 6, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 26, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
body {
  line-height: 1; }

/* line 29, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
nav ul {
  list-style: none; }

/* line 36, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 39, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 44, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
/* line 52, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 58, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 64, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
del {
  text-decoration: line-through; }

/* line 67, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 71, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 76, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 84, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 12, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_colors.scss */
body {
  background: #4ea7ff; }

/* line 16, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_colors.scss */
html.moon body {
  background: #020d54; }

/* line 7, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_typography.scss */
.about {
  font-family: "Johnston ITC W01 Medium", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }

/* line 10, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_typography.scss */
.time {
  font-family: "Johnston ITC W01 Medium", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }

/*
  __  __ _      _ _                 _      _           
 |  \/  (_)    (_| )               (_)    (_)          
 | \  / |_ _ __ _|/ ___   _ __ ___  ___  ___ _ __  ___ 
 | |\/| | | '__| | / __| | '_ ` _ \| \ \/ / | '_ \/ __|
 | |  | | | |  | | \__ \ | | | | | | |>  <| | | | \__ \
 |_|  |_|_|_|  |_| |___/ |_| |_| |_|_/_/\_\_|_| |_|___/
                                                       
*/
/*

REM with Pixel Fallback
Vertically center in an unknown context
Skew / Rotate 
Retina images

*/
/* adapted from http://css-tricks.com/centering-in-the-unknown/

	@extend .center-outer on the container div
	@extend .center-inner on the div w/ centered content 

*/
/* line 72, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_mirismixins.scss */
.center-parent, .about-container, .time-container {
  .text-align: center; }
  /* line 74, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_mirismixins.scss */
  .center-parent:before, .about-container:before, .time-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

/* line 81, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_mirismixins.scss */
.center-inner, .about, .time {
  display: inline-block;
  vertical-align: middle; }

@-webkit-keyframes moveLeft {
  /* line 2, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -20%; }

  /* line 5, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-moz-keyframes moveLeft {
  /* line 2, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -20%; }

  /* line 5, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-o-keyframes moveLeft {
  /* line 2, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -20%; }

  /* line 5, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@keyframes moveLeft {
  /* line 2, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -20%; }

  /* line 5, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-webkit-keyframes moveLeftsecond {
  /* line 11, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -40%; }

  /* line 14, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-moz-keyframes moveLeftsecond {
  /* line 11, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -40%; }

  /* line 14, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-o-keyframes moveLeftsecond {
  /* line 11, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -40%; }

  /* line 14, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@keyframes moveLeftsecond {
  /* line 11, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  0% {
    right: -40%; }

  /* line 14, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  100% {
    right: 105%; } }
@-webkit-keyframes dash {
  /* line 20, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  from {
    stroke-dashoffset: 1200; }

  /* line 23, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  to {
    stroke-dashoffset: 0; } }
@-moz-keyframes dash {
  /* line 20, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  from {
    stroke-dashoffset: 1200; }

  /* line 23, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  to {
    stroke-dashoffset: 0; } }
@-o-keyframes dash {
  /* line 20, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  from {
    stroke-dashoffset: 1200; }

  /* line 23, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  /* line 20, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  from {
    stroke-dashoffset: 1200; }

  /* line 23, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/modules/_keyframes.scss */
  to {
    stroke-dashoffset: 0; } }
/* line 1, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
html {
  font-size: 62.5%; }

/* line 5, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
html, body, .wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: background 5s ease; }

/* line 12, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
body {
  max-height: 100%;
  overflow: hidden; }

/* line 17, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.wrapper {
  text-align: center; }

/* line 21, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.about-container {
  width: 90%;
  height: 15%;
  text-align: center;
  margin: 0 auto; }

/* line 28, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.about {
  font-size: 28px;
  font-size: 2.8rem;
  padding-left: 20px;
  padding-left: 2rem;
  text-align: left;
  line-height: 1.5;
  padding-top: 40px;
  padding-top: 4rem; }

/* line 36, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
span#about {
  transition: color 5s ease, opacity 5s ease;
  color: #333;
  opacity: .8;
  padding-top: 30px;
  padding-top: 3rem; }
  /* line 41, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  span#about:hover {
    cursor: help; }

/* line 45, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.svg-container {
  float: left;
  width: 100%;
  height: 70%;
  text-align: center; }

/* line 51, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
svg#sunner {
  width: 80%;
  z-index: -1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all .5s ease-in-out; }

/* line 62, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.grayed svg#sunner {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%); }

/* line 67, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.time-container {
  float: left;
  width: 100%;
  height: 15%; }

/* line 73, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.time {
  font-size: 28px;
  font-size: 2.8rem;
  display: none;
  z-index: 2;
  text-align: center; }
  /* line 79, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .time .time-inner {
    padding: 5px; }
  /* line 83, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .time #howlong {
    display: inline-block;
    color: #333;
    opacity: .8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    /* line 91, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
    .time #howlong:hover {
      cursor: help; }

@media screen and (min-width: 716px) and (max-width: 900px) {
  /* line 98, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .about, .time {
    font-size: 18px;
    font-size: 1.8rem; } }
@media screen and (min-width: 601px) and (max-width: 715px) {
  /* line 103, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .about, .time {
    font-size: 16px;
    font-size: 1.6rem; } }
@media screen and (max-width: 600px) {
  /* line 108, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .about, .time {
    font-size: 14px;
    font-size: 1.4rem; }

  /* line 111, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .about-container {
    width: 100%;
    height: 25%;
    position: static; }
    /* line 115, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
    .about-container .about {
      left: 0;
      bottom: 0;
      margin-top: 3%; }

  /* line 121, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .svg-container {
    width: 100%;
    height: 50%; }
    /* line 124, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
    .svg-container svg {
      width: 100%; }

  /* line 128, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .time-container {
    width: 100%;
    height: 25%; }
    /* line 131, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
    .time-container .time {
      right: 0;
      bottom: 0; } }
/* line 140, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
svg circle:nth-child(2n) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -moz-animation: dash 3s ease alternate infinite;
  -webkit-animation: dash 3s ease alternate infinite;
  animation: dash 3s ease alternate infinite; }

/* line 147, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
svg circle:nth-child(2n+1) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -moz-animation: dash 3s ease alternate infinite;
  -webkit-animation: dash 4s ease alternate infinite;
  animation: dash 4s ease alternate infinite; }

/* line 154, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
svg circle:nth-child(6) {
  fill: #FFFFFF; }

/* line 158, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.sun-selector {
  opacity: 0; }

/* line 163, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.moon svg circle {
  -webkit-animation: none;
  animation: none;
  stroke-linecap: square;
  transition: stroke 4s ease, stroke-dasharray 4s ease, stroke-dashoffset 4s ease;
  -webkit-timing-function: linear; }
  /* line 171, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(1) {
    stroke-dasharray: 270, 300;
    stroke-dashoffset: 0;
    stroke: #DDD;
    -webkit-animation-iteration-count: 1; }
  /* line 178, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(2) {
    stroke-dasharray: 210, 300;
    stroke-dashoffset: 0;
    stroke: #CCC;
    -webkit-animation-iteration-count: 1; }
  /* line 185, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(3) {
    stroke-dasharray: 150, 300;
    stroke-dashoffset: 0;
    stroke: #BBB;
    -webkit-animation-iteration-count: 1; }
  /* line 192, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(4) {
    stroke-dasharray: 70, 300;
    stroke-dashoffset: 0;
    stroke: #AAA;
    -webkit-animation-iteration-count: 1; }
  /* line 199, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(5) {
    stroke-dasharray: 60, 210;
    stroke-dashoffset: 0;
    stroke: #4ea7ff;
    stroke-width: 0;
    -webkit-animation-iteration-count: 1; }
  /* line 206, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .moon svg circle:nth-child(6) {
    stroke-dasharray: 200, 150;
    stroke-dashoffset: 0;
    stroke: #4ea7ff;
    stroke-width: 0;
    fill: none;
    -webkit-animation-iteration-count: 1; }

/* line 218, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
.day svg circle {
  transition: stroke 4s ease; }
  /* line 220, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(1) {
    stroke: #ffed92; }
  /* line 223, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(2) {
    stroke: #fff2a7; }
  /* line 226, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(3) {
    stroke: #fff6ba; }
  /* line 229, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(4) {
    stroke: #fffad0; }
  /* line 232, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(5) {
    stroke: #fffef1; }
  /* line 235, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_shame.scss */
  .day svg circle:nth-child(6) {
    stroke: white;
    fill: white; }

/* line 1, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloudlayer {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  /* line 11, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
  .cloudlayer .cloud {
    z-index: 0;
    width: 350px;
    height: 120px;
    position: fixed;
    right: -20%;
    top: 10%;
    background: #FFFFCC;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    opacity: .2; }
    /* line 22, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:after, .cloudlayer .cloud:before {
      content: '';
      position: absolute;
      background: #FFFFCC;
      z-index: -1; }
    /* line 28, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:before {
      width: 180px;
      height: 180px;
      top: -90px;
      right: 50px;
      -webkit-border-radius: 200px;
      border-radius: 200px; }
    /* line 36, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:after {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 50px;
      -webkit-border-radius: 100px;
      border-radius: 100px; }
    /* line 46, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(2) {
      margin-top: 20%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8); }
    /* line 50, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(3) {
      margin-top: 33%;
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7); }
    /* line 54, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(4) {
      margin-bottom: 13%;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75); }
    /* line 58, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(5) {
      margin-bottom: 44%;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6); }
    /* line 62, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(1n + 5) {
      right: -100px; }
    /* line 65, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(6) {
      margin-top: 30%; }
    /* line 68, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(7) {
      margin-top: 40%; }
    /* line 71, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(8) {
      margin-bottom: 17%; }
    /* line 74, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(9) {
      margin-bottom: 35%; }
    /* line 77, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
    .cloudlayer .cloud:nth-child(10) {
      margin-top: 45%; }

/* line 86, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(1).animate-cloudToLeft {
  -webkit-animation: moveLeft 120s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeft 120s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeft 120s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 86, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(2).animate-cloudToLeft {
  -webkit-animation: moveLeft 150s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeft 150s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeft 150s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 86, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(3).animate-cloudToLeft {
  -webkit-animation: moveLeft 180s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeft 180s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeft 180s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 86, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(4).animate-cloudToLeft {
  -webkit-animation: moveLeft 210s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeft 210s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeft 210s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 91, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(6).animate-cloudToLeft {
  -webkit-animation: moveLeftsecond 300s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeftsecond 300s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeftsecond 300s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 91, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(7).animate-cloudToLeft {
  -webkit-animation: moveLeftsecond 330s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeftsecond 330s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeftsecond 330s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 91, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(8).animate-cloudToLeft {
  -webkit-animation: moveLeftsecond 360s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeftsecond 360s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeftsecond 360s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/* line 91, /Users/miriam/Documents/Web/doyouwanttostandinthesunlightlikeanasshole/assets/stylesheets/sass/partials/_clouds.scss */
.cloud:nth-child(9).animate-cloudToLeft {
  -webkit-animation: moveLeftsecond 390s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  -moz-animation: moveLeftsecond 390s cubic-bezier(0.5, 0.2, 0.3, 1) infinite;
  animation: moveLeftsecond 390s cubic-bezier(0.5, 0.2, 0.3, 1) infinite; }

/** Notes

Bourbon have a clearfix in bourbon/addons. just use @include clearfix;

**/
