* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
  __  __ _      _ _                 _      _           
 |  \/  (_)    (_| )               (_)    (_)          
 | \  / |_ _ __ _|/ ___   _ __ ___  ___  ___ _ __  ___ 
 | |\/| | | '__| | / __| | '_ ` _ \| \ \/ / | '_ \/ __|
 | |  | | | |  | | \__ \ | | | | | | |>  <| | | | \__ \
 |_|  |_|_|_|  |_| |___/ |_| |_| |_|_/_/\_\_|_| |_|___/
                                                       
*/
/*

REM with Pixel Fallback
Vertically center in an unknown context
Skew / Rotate 
Retina images

*/
/* adapted from http://css-tricks.com/centering-in-the-unknown/

	@extend .center-outer on the container div
	@extend .center-inner on the div w/ centered content 

*/
.center-parent, .about-container, .time-container {
  .text-align: center; }
  .center-parent:before, .about-container:before, .time-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.center-inner, .about, .time {
  display: inline-block;
  vertical-align: middle; }

html {
  font-size: 62.5%; }

html, body, .wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  background: #4ea7ff;
  max-height: 100%;
  overflow: hidden; }

.wrapper {
  text-align: center; }

span {
  color: blue; }

.about-container {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0 !important; }

.about {
  font-family: "DIN Next W01 Medium";
  font-size: 20px;
  font-size: 2rem;
  padding-left: 20px;
  padding-left: 2rem;
  text-align: left;
  line-height: 1.5; }
  .about span {
    color: #4ea7ff;
    padding: 8px;
    background: white;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .about span:hover {
      cursor: help; }
  .about p:last-child {
    margin-top: 20px;
    margin-left: 40px; }
    .about p:last-child span {
      color: #0f7dfd; }
      .about p:last-child span:hover {
        color: #4ea7ff;
        cursor: pointer; }
      .about p:last-child span:active {
        color: gray; }

.svg-container {
  float: left;
  width: 50%;
  height: 99%; }

.time-container {
  float: left;
  width: 25%;
  height: 100%; }

.time {
  font-family: "DIN Next W01 Medium";
  font-size: 20px;
  font-size: 2rem;
  display: none;
  position: relative;
  z-index: 2;
  right: 30%; }
  .time .time-inner {
    padding: 5px; }
  .time #howlong, .time .time-inner > p {
    display: inline-block;
    color: #4ea7ff;
    padding: 8px;
    background: white;
    border-radius: 7px;
    box-shadow: 4px 4px gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }

svg circle:nth-child(2n) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s ease alternate infinite;
  animation: dash 3s linear infinite; }

svg circle:nth-child(2n+1) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 4s ease alternate infinite;
  animation: dash 4s linear infinite; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1200; }

  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  from {
    stroke-dashoffset: 1000; }

  to {
    stroke-dashoffset: 0; } }
/** Notes

Bourbon have a clearfix in bourbon/addons. just use @include clearfix;

**/
