.top-words {
	width: 90%;
	height: 15%;
	text-align: center;
	@extend .center-parent;
	margin: 0 auto;
}

.about {
	@extend .center-inner;
	@include rem(28);
	@include rem(20, padding-left);
	text-align: left;
	line-height: 1.5;
	@include rem(40, padding-top);
}

.about {
	text-align: center;
	@include rem(30, padding-top);
}

span#about {
		transition: color 5s ease, opacity 5s ease;
		color: $pale;
		opacity: 1;
		@include rem(28);
		&:hover {
			cursor: help;
		}
}
.output {
	@include rem(28);
	opacity: 0;
	//transition: color 5s ease, opacity 5s ease;
	//color: none;
	//border: none;
	p{
		border: none;
	}
	.number {
		color: $accent-neutral;
	}
	.word {
		color: $neutral;
	}
	.plus {
		color: $accent-pale;
	}
	br{
		display: none;
	}
}

.bottom-words { 
	position: relative;
	color: $pale;
	font-family: $adelle-sans;
	@include rem(28);
	p {
		position: relative;
		@include rem(28, bottom);
		display: block;
	}
}

.day .bottom-words {
	color: $neutral;
}

.bottom-output {
	width: 70%;
	margin: 0 auto;
	position: relative;
	bottom: 10%;
}

.bar-words {
	font-family: $adelle-sans;
	color: $pale;
	@include rem(16);
	font-style: italic;
	position: relative;
	top: 20%;
}

.info-open.button {
	background: $accent-neutral;
	display: inline-block;
	box-sizing: border-box;
	font-family: $adelle-sans;
	span {
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.5;
		@include rem(16);
		@include rem(14, padding);
	}
}

.button-arrow {
	color: $pale;
}
.button-words {
	color: $pale;
}

.bar {
	width: 100%;
	height: 5%;
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0;
	@include linear-gradient(45deg, $accent-neutral 0%, $neutral 20%, $neutral 80%, $accent-neutral 100%);
	span {
		color: $pale;
		font-family: $adelle-sans;
		font-style: italic;
		text-transform: uppercase;
		position: absolute;
		@include rem(16);
		top: 25%;
		&:nth-of-type(1) {
			left: 5%;
		}
		&:nth-of-type(2){
			right: 5%;
		}
	}
}

svg#sunmarker {
	position: absolute;
	bottom: 100%;
	left: 48.75%;
	//width: 80%;
	//height: 80%;
}



// MEDIA QUERIES

@include media($small){

	.about span#about {
		@include rem(12);
		line-height: .8;
		br {
			//display: none;
		}
	}

	.output {
		@include rem(14);
	}

	.about {
		line-height: 1;
		@include rem(10, padding-top);
	}

	.about-container{
		width: 100%;
		height: 25%;
		position: static;

	}
	.bar-words, #left-bar, #right-bar {
		@include rem(12);
	}
	.info-open.button {
		@include rem(20, margin-top);
		span {
			@include rem(12);
			@include rem(10, padding);
		}
	}

	svg#sunmarker {
		@include rem(28.8324, width);
		@include rem(42.74176, height);
	}
.output br {
	display: inline;
}
.output {
	position: relative;
	bottom: 50%;
}
.bar .bar-words {
	display: none;
}

}

@include media($medium){
	.about span#about {
		@include rem(18);
		//padding: 0;
		//margin-top: 0;
	}
}

@include media($medium-large){

	.about span#about {
		@include rem(28);
		@include rem(28, margin-top);
	}
	
}
