.pane {
	font-family: $adelle-sans;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -100;
	background: $pale;
	//transition: opacity 1s ease;
	opacity: 0;
	overflow-y: scroll;
}

.pane.full {
	//transition: opacity .5s ease;
	z-index: 1000;
	opacity: 1;
}

.pane-content {
	width: 46%;
	position: absolute;
	left: 30%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include media($small){
		width: 70%;
		left: 15%;
	}

	@include media($medium-large){
		width: 46%;
		left: 30%;
	}

	p{
		color: $accent-pale;
		@include media($small) {
			@include rem(14);
			line-height: 1.5;
			@include rem(21, margin-top);
			&:first-child {
				@include rem(28, margin-top);
			}
		}
		@include media($medium){
			@include rem(16);
			line-height: 1.5;
			@include rem(32, margin-top);
			&:first-child {
				@include rem(38, margin-top);
			}
		}
		@include media($medium-large){
			@include rem(18);
			line-height: 1.5;
			@include rem(36, margin-top);
			&:first-child {
				@include rem(45, margin-top);
			}
		}		
		@include media($full){
			@include rem(22);
			line-height: 1.4;
			@include rem(33, margin-top);
			&:first-child {
				@include rem(99, margin-top);
			}
		}
	}
	

	a#dawn-link {
		color: $neutral;
		&:hover{color: $accent-neutral;}
		&:active {color: $accent-pale;}
	}
	a#dusk-link {
		color: $accent-neutral;
		&:hover{color: $neutral;}
		&:active {color: $accent-pale;}
		}
	a#github-link{
		color: $accent-neutral;
		&:hover{color: $neutral;}
		&:active {
			color: $accent-pale;
			#git{color: $accent-pale;}
		}
		#git {
			color: $neutral;
			//&:active {color: $accent-pale;}
		}
	}
	a {
		text-transform: none;
		text-decoration: none;
		
	}

	.info-close.button {
	background: $neutral;
	display: inline-block;
	box-sizing: border-box;
	font-family: $adelle-sans;
	display: block;
	@include rem(150, width);
	@include rem(50, margin-top);
	span {
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.5;
		@include rem(16);
		@include rem(14, padding);
	}
}

}