.pane {
	@include johnston(light);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -100;
	background: url(../../img/nice_snow.png);
	opacity: 0;
}

.pane.full {
	transition: top 1s ease;
	z-index: 1000;
	opacity: .95;
}

.pane-content {
	width: 46%;
	position: absolute;
	left: 30%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@include media($small){
		width: 70%;
		left: 15%;
	}

	@include media($medium-large){
		width: 46%;
		left: 30%;
	}

	p{
		@include media($small) {
			@include rem(14);
			line-height: 1.5;
			@include rem(21, margin-top);
			&:first-child {
				@include rem(28, margin-top);
			}
		}
		@include media($medium){
			@include rem(16);
			line-height: 1.5;
			@include rem(32, margin-top);
			&:first-child {
				@include rem(38, margin-top);
			}
		}
		@include media($medium-large){
			@include rem(18);
			line-height: 1.5;
			@include rem(36, margin-top);
			&:first-child {
				@include rem(45, margin-top);
			}
		}		
		@include media($full){
			@include rem(22);
			line-height: 1.4;
			@include rem(33, margin-top);
			&:first-child {
				@include rem(99, margin-top);
			}
		}
	}
	
	a {
		text-transform: none;
		text-decoration: none;
		&:nth-child(1), &:nth-child(2){
			color: #333;
			border-bottom: 3px double #888;
			&:hover {
				border-bottom: 3px solid #888;
			}
			&:active {
				border-bottom: 3px solid #CCC;
			}
		}
	}
}