$full: new-breakpoint(min-width 1161px);
$medium-large: new-breakpoint(min-width 716px max-width 900px);
$medium: new-breakpoint(min-width 601px max-width 715px);
$small: new-breakpoint(max-width 600px);
html {
	font-size: 62.5%;
}
html, body, .wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	transition: background 5s ease;
}
body {
	//background: #4C45FF;
	//background: #4E6FFF;
	background: $c-background;
	max-height: 100%;
	overflow: hidden;
}
html.moon body {
	background: $nightblue;
}
.wrapper {
	text-align: center;
}
span {
	//text-align: center;
	color: blue;
}

/*
.animate-cloudToLeft {
	@include animation(moveLeft 60.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) alternate);
}
*/
/*
@include keyframes(moveLeft){
	0% {
		right: -20%;
		//opacity: 0;
	}
	10% {
		right: 120%;
		//opacity: 1;
	}
	20%{top: 30%;}
	30%{right:-20%;}
	40%{top:50%;}
	50%{right:120%;}
	60%{top:65%;}
	70%{right:-20%;}
	75%{top:85%;}
	80%{right:120%;}
	90%{top:10%;}
	100%{right:-20%;}
}
*/
/*
@include keyframes(moveLeft){
	0% {right: -20%;}
	1% {opacity: 1;}
	20% {right: 120%;}
	39% {opacity: 0;}
	40% {top: 30%;}
	60% {right: -20%;}
	79% {opacity: 1;}
	80% {right: 120%;}
	99% {top: 10%;}
	100% {opacity: 0;}
}
*/
@include keyframes(moveLeft){
	0% {right: -20%;}
	100% {right: 120%;}
}
div.cloudlayer {
	z-index: -2;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	//background: #EDEDED;
	.cloud {
		z-index: 0;
		width: 350px;
		height: 120px;
		position: fixed;
		right: -20%;
		top: 10%;
		background: #FFFFCC;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		opacity: .2;
		&:after, &:before {
			content:'';
			position: absolute;
			background: #FFFFCC;
			z-index: -1;
		}
		&:before{
			width: 180px;
			height: 180px;
			top: -90px;
			right: 50px;
			-webkit-border-radius: 200px;
			border-radius: 200px;
		}
		&:after{
			width: 100px;
			height: 100px;
			top: -50px;
			left: 50px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
		}
		&:nth-child(1).animate-cloudToLeft{
			@include animation(moveLeft 120.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite);
		}
		&:nth-child(2){
			margin-top: 20%;
			margin-right: 30%;
			@include transform(scale(.8));
		}
		&:nth-child(2).animate-cloudToLeft{
			@include animation(moveLeft 150.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite);
		}
		&:nth-child(3){
			margin-top: 33%;
			margin-right: 15%;
			@include transform(scale(.7));
		}
		&:nth-child(3).animate-cloudToLeft{
			@include animation(moveLeft 180.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite);
		}
		&:nth-child(4){
			margin-bottom: 13%;
			margin-right: 27%;
			@include transform(scale(.75));
		}
		&:nth-child(4).animate-cloudToLeft{
			@include animation(moveLeft 210.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite);
		}
		&:nth-child(5){
			margin-bottom: 44%;
			margin-right: 60%;
			@include transform(scale(.6));
		}
		&:nth-child(5).animate-cloudToLeft{
			@include animation(moveLeft 240.0s cubic-bezier(0.5, 0.2, 0.3, 1.0) infinite);
		}
	}
}



.about-container {
	float: left;
	width: 30%;
	height: 100%;
	margin: 0!important;
	@extend .center-parent;
}
.about {
	@extend .center-inner;
	font-family: $din;
	@include rem(28);
	@include rem(20, padding-left);
	text-align: left;
	line-height: 1.5;
	position: relative;
	left: 30%;
	bottom: 25%;
	transition: color 5s ease;
	span {
		color: $c-text-color;
		padding: 8px;
		background: $c-text-background;
		border-radius: 7px;	
		box-shadow: 4px 4px gray;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		&:hover {
			cursor: help;
		}
	}
	p:last-child {
		margin-top: 20px;
		margin-left: 40px;
		span {
			color: $darkblue;
			&:hover {
				color: $c-text-color;
				cursor: pointer;
			}
			&:active{
				color: gray;
				//cursor: alias;
			}
		}
	}
}
.svg-container {
	float: left;
	width: 40%;
	height: 99%;
	text-align: center;
}
svg {
	//width: 100%;
	//margin-left: auto;
	//margin-right: auto;
	//display: block;
	width: 80%;
	z-index: -1;
}
.time-container {
	float: left;
	width: 30%;
	height: 100%;
	@extend .center-parent;
}
.time {
	@extend .center-inner;
	font-family: $din;
	@include rem(28);
	display: none;
	position: relative;
	z-index: 2;
	right: 30%;
	bottom: 25%;
	.time-inner {
		padding: 5px;
	}
	transition: color 5s ease;
	#howlong, .time-inner > p {
		display: inline-block;
		color: $c-text-color;
		padding: 8px;
		background: $c-text-background;
		border-radius: 7px;	
		box-shadow: 4px 4px gray;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		//margin: 10px 0;
		&:hover {
			//cursor: help;
		}
		p{
			//padding: 20px;
		}
	}
}
@include media($medium-large){
	.about, .time {
		@include rem(18);
	}
}
@include media($medium){
	.about, .time {
		@include rem(16);
	}
}
@include media($small){
	.about, .time {
		@include rem(14);
	}
	.about-container{
		width: 100%;
		height: 25%;
		position: static;
		.about {
			left: 0;
			bottom: 0;
			margin-top: 3%;
		}
	}
	.svg-container {
		width: 100%;
		height: 50%;
		svg {
			width: 100%;
		}
	}
	.time-container {
		width: 100%;
		height: 25%;
		.time {
			right: 0;
			bottom: 0;
		}
	}
}

// SVG ANIMATION

svg circle:nth-child(2n) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -moz-animation: dash 3s ease alternate infinite;
  -webkit-animation: dash 3s ease alternate infinite;
  animation: dash 3s ease alternate infinite;
}
svg circle:nth-child(2n+1) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -moz-animation: dash 3s ease alternate infinite;
  -webkit-animation: dash 4s ease alternate infinite;
  animation: dash 4s ease alternate infinite;
}
svg circle:nth-child(6) {
	fill: #FFFFFF;
}

.moon svg {
	circle {
		-webkit-animation: none;
		animation: none;
		stroke-linecap: square;
		//-webkit-animation: moon 1s ease alternate 1;
		//-webkit-animation: moon 1s ease alternate 1;
		transition: stroke 4s ease, stroke-dasharray 4s ease, stroke-dashoffset 4s ease;
		-webkit-timing-function: linear;
		&:nth-child(1){
			stroke-dasharray: 270, 300;
			stroke-dashoffset: 0;
			//stroke: #111;
			stroke: #DDD;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(2){
			stroke-dasharray: 210, 300;
			stroke-dashoffset: 0;
			//stroke: #222;
			stroke: #CCC;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(3){
			stroke-dasharray: 150, 300;
			stroke-dashoffset: 0;
			//stroke: #333;
			stroke: #BBB;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(4){
			stroke-dasharray: 70, 300;
			stroke-dashoffset: 0;
			//stroke: #444;
			stroke: #AAA;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(5){
			stroke-dasharray: 60, 210;
			stroke-dashoffset: 0;
			stroke: $c-background;
			stroke-width: 0;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(6){
			stroke-dasharray: 200, 150;
			stroke-dashoffset: 0;
			stroke: $c-background;
			stroke-width: 0;
			fill: none;
					-webkit-animation-iteration-count: 1;
		}
	}
}

.day svg {
	circle {
		//-webkit-animation: none;
		//animation: none;
		transition: stroke 4s ease;
		//stroke-dasharray: 800;
		//stroke-dashoffset: 0;
		&:nth-child(1){
		stroke: lighten(#FFE045, 15%);
		}
		&:nth-child(2){
		stroke: lighten(#FFE75A, 15%);
		}
		&:nth-child(3){
		stroke: lighten(#FFED6E, 15%);
		}
		&:nth-child(4){
		stroke: lighten(#FFF383, 15%);
		}
		&:nth-child(5){
		stroke: lighten(#FFF8A4, 15%);
		}
		&:nth-child(6){
		stroke: lighten(#FFFCC0, 15%);
		fill: lighten(#fffcc0, 15%);
		}				

	}
}

@-moz-keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes moon {

}