html {
	font-size: 62.5%;
}
html, body, .wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	//background: #4C45FF;
	//background: #4E6FFF;
	background: $c-background;
	max-height: 100%;
	overflow: hidden;
}

.wrapper {
	text-align: center;
}
span {
	//text-align: center;
	color: blue;
}

.about-container {
	float: left;
	width: 25%;
	height: 100%;
	margin: 0!important;
	@extend .center-parent;
}
.about {
	@extend .center-inner;
	font-family: $din;
	@include rem(20);
	@include rem(20, padding-left);
	text-align: left;
	line-height: 1.5;
	span {
		color: $c-text-color;
		padding: 8px;
		background: $c-text-background;
		border-radius: 7px;	
		box-shadow: 4px 4px gray;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		&:hover {
			cursor: help;
		}
	}
	p:last-child {
		margin-top: 20px;
		margin-left: 40px;
		span {
			color: $darkblue;
			&:hover {
				color: $c-text-color;
				cursor: pointer;
			}
			&:active{
				color: gray;
				//cursor: alias;
			}
		}
	}
}
.svg-container {
	float: left;
	width: 50%;
	height: 99%;
}
.time-container {
	float: left;
	width: 25%;
	height: 100%;
	@extend .center-parent;
}
.time {
	@extend .center-inner;
	font-family: $din;
	@include rem(20);
	display: none;
	position: relative;
	z-index: 2;
	right: 30%;
	.time-inner {
		padding: 5px;
	}
	#howlong, .time-inner > p {
		display: inline-block;
		color: $c-text-color;
		padding: 8px;
		background: $c-text-background;
		border-radius: 7px;	
		box-shadow: 4px 4px gray;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		//margin: 10px 0;
		&:hover {
			//cursor: help;
		}
		p{
			//padding: 20px;
		}
	}
}


// SVG ANIMATION

svg circle:nth-child(2n+2) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s ease alternate infinite;
  animation: dash 3s linear infinite;
}
svg circle:nth-child(2n+3) {
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 4s ease alternate infinite;
  animation: dash 4s linear infinite;
}

.moon svg {
	circle {
		-webkit-animation: none;
		animation: none;
		stroke-linecap: square;
		//-webkit-animation: moon 1s ease alternate 1;
		//-webkit-animation: moon 1s ease alternate 1;
		transition: stroke 4s ease, stroke-dasharray 4s ease, stroke-dashoffset 4s ease;
		-webkit-timing-function: linear;
		&:nth-child(1){
			stroke-dasharray: 270, 300;
			stroke-dashoffset: 0;
			stroke: #111;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(2){
			stroke-dasharray: 210, 300;
			stroke-dashoffset: 0;
			stroke: #222;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(3){
			stroke-dasharray: 150, 300;
			stroke-dashoffset: 0;
			stroke: #333;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(4){
			stroke-dasharray: 70, 300;
			stroke-dashoffset: 0;
			stroke: #444;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(5){
			stroke-dasharray: 60, 210;
			stroke-dashoffset: 0;
			stroke: $c-background;
			stroke-width: 0;
					-webkit-animation-iteration-count: 1;
		}
		&:nth-child(6){
			stroke-dasharray: 200, 150;
			stroke-dashoffset: 0;
			stroke: $c-background;
			stroke-width: 0;
					-webkit-animation-iteration-count: 1;
		}
	}
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes moon {

}