$din:'DIN Next W01 Medium';
$johnston--medium:'Johnston ITC W01 Medium';
$johnston--light: 'Johnston ITC W01 Light';
$johnston--light__italic: 'JohnstonITCW01-LightIta';

$din-family: $din, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

$adelle-sans: 'adelle-sans';

body {
	font-family: $adelle-sans;
}